cuda-python==12.6.0
numpy==1.24.3
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==26.2.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tokenizers==0.20.0
tqdm==4.66.5
types-PyYAML
pyYAML
python-box==6.0.2
-e .
